/* PatientTable.css */
.patient-card {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.table-cell {
  flex: 1;
  text-align: center;
  margin: 0;
  color: #3a3a3c;
}

.header {
  color: #2a8cff;
  font-weight: bold;
}

.striped {
  background-color: aliceblue;
}

.table-header {
  background-color: aliceblue;
}