.Rtablerow21{
    background-color: #2B8CFF;
    width: 80px;
    margin-top: 4px;
    margin-left: 20px;
    padding: 3px;
    border-radius: 10px;
}
.Rtablerow22{
    background-color: #FFCC00;
    width: 80px;
    margin-top: 4px;
    margin-left: 20px;
    padding: 3px;
    border-radius: 10px;
}
.Rtablerow23{
    background-color: #43B75D;
    width: 80px;
    margin-top: 4px;
    margin-left: 20px;
    padding: 3px;
    border-radius: 10px;
}
