.invoiceContainer {
  margin: 0 auto;
  width: 800px;
  padding: 50px 40px;
  font-family: "Inter", serif;
  background: #fff;
  position: relative;
  border-radius: 6px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.clm {
  float: left;
  width: 50%;
}

.logo {
  margin-bottom: 0;
}

.ul,
.ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li {
  font-weight: 400;
  color: #2a2a2a;
  font-size: 11px;
  padding-bottom: 10px;
}

.label {
  float: left;
  width: 120px;
  font-weight: 700;
}

.h3 {
  font-size: 12px;
  font-weight: 700;
}

.h4 {
  font-size: 11px;
  font-weight: 700;
}

.clm1 {
  width: 55%;
  border-right: 1px solid #d7dae0;
  padding-right: 10px;
}

.clm2 {
  width: 45%;
  padding-left: 15px;
}

.patientListItem {
  font-size: 11px;
  line-height: 18px;
}

.patientListItemLabel {
  width: 90px;
  float: left;
  font-weight: 700;
  position: relative;
}

.patientListItemLabel::after {
  content: ":";
  position: absolute;
  right: -4px;
  top: 0;
}

.patientListItemText {
  padding-left: 100px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.th,
.td {
  border-top: 1px solid #ddd;
  padding: 10px 3px;
}

.th {
  font-size: 9px;
  font-weight: 700;
  text-align: left;
}

.td {
  font-size: 10px;
  font-weight: 400;
}

.textCenter {
  text-align: center;
}

.signatureText {
  float: right;
  font-size: 10px;
  color: #2a2a2a;
  margin-top: 40px;
}

.footer {
  padding: 20px 0;
  text-align: center;
}

.footerText {
  font-size: 10px;
  font-weight: 500;
  color: #222;
}

.pageNo {
  font-size: 9px;
  color: #5e6470;
}

.noPrint {
  display: block;
}

@media print {
  .noPrint {
    display: none !important;
  }
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
}

.leftBtn,
.rightBtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actionBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  color: #000;
  font-size: 13px;
  cursor: pointer;
}

.actionBtn i {
  font-size: 24px;
  margin-bottom: 4px;
}

.actionBtn:hover {
  color: #007bff;
}
