.rightside{
    background-color: white;
    width: 50vw;
    height: 100vh;
    padding: 75px 100px 100px 120px;
}
.custom-design{
    height: 600px;
    width: 560px;
    border: 2px solid #888888;
    border-radius: 6px;
    padding: 30px 0px 0px 10px;
}
.form1{
    border: 1px solid #888888;
    height: 35px;
}
.custom-form{
    /* padding: 15px 0px; */
}
.input-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.6;
  pointer-events: none; 
  cursor: pointer;
}
.first-row{
    width:300px;
}